@import "~antd/dist/antd.css";
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

a.w3-bar-item.w3-button {
  font-size: 0.9em;
  color: #5a5a5a;
  font-family: "Playfair Display", serif;
}
.icons {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  padding: 0 45%;
}

a.w3-bar-item.w3-button:hover {
  background-color: #ece6d2 !important;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("Assets/images/coffee-notebook-writing-computer-34601.jpg");
  height: 100%;
}
/* .add-tooltip {
  margin-right: 17%;
} */
.anticon.anticon-plus-circle.btn-add {
  width: 50px;
  height: 50px;
  justify-self: flex-end;
  align-self: flex-end;
}
.btn-add > svg {
  width: 40px;
  height: 40px;
  color: #58949c;
}
.tags-edit {
  display: flex;
  justify-content: space-between;
}
.edit-icon > svg {
  width: "30px";
  height: "30px";
  padding-right: "0";
}
.add-btn {
  display: absolute;
  background-color: none;
  width: fit-content;
  height: 50px;
  justify-self: flex-center;
  right: 0;
}
.left {
  position: absolute;
  height: 50vh;
  width: 50%;
  background-color: #f1f1f1;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}
/* div#myNavbar.w3-bar {
  background-color: #d41f1f;
} */
div#home.card {
  justify-content: center;
  align-items: center;
  align-content: center;
}
#h1-home {
  font-family: "Playfair Display", serif;
  padding-top: 2%;
  font-size: 3em;
  text-align: center;
  color: #58949c;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
.blog-body {
  max-width: 44%;
  padding: 2%;
  justify-content: center;
}
.blog-body h3 {
  color: #58949c;
  text-align: left;
  font-size: 50px;
}
.fa-tag {
  margin-left: 3%;
  color: #df9881;
}
#tag {
  color: #58949c;
}
.author {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #df9881;
  font-size: 20px;
  text-align: right;
  padding: -2%;
}

.myFooter {
  padding: 3% 0;
  text-align: center;
  background-color: #ece6d2;
  font-size: small;
}
.myFooter > p:hover {
  color: #df9881;
}
a.w3-button:hover {
  color: grey;
  background-color: #df9881 !important;
}
.w3-xlarge.w3-section.fa {
  padding-right: 1%;
}
.top {
  color: #58949c;
  padding-top: 10%;
}
a:hover {
  background-color: none;
  color: #3e3e3e;
}
.blog-card-body {
  /* margin-top: 1%; */
  display: flex;
}
.site-card-border-less-wrapper {
  padding: 5% 5%;
  justify-self: left;
  align-self: flex-start;
}
.profile-card {
  text-align: left;
}
.author-card {
  width: 60%;
  text-align: center;
}
.author-card > a {
  color: #df9881;
}
.author-card p {
  padding-top: 10px;
}
.blog-card {
  padding-left: 3%;
  flex-flow: column wrap;
  justify-self: end;
  align-self: center;
}
.ant-card.ant-card-bordered.ant-card-hoverable.ant-card-type-inner {
  margin-bottom: 3%;
  width: 60%;
}

#latest {
  font-family: "Playfair Display", serif;
  padding-top: 5%;
  margin-left: 29%;
  text-align: left;
  font-size: 100px;
  color: #df9881;
}

.form {
  padding-top: 10%;
}

.auth {
  position: relative;
  background-color: #ffffff;
}
.fa-arrow-circle-right {
  color: black;
  margin-top: 220%;
}

#authHeader {
  padding-top: 10%;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #797979;
  line-height: 2em;
}
.btnGrp {
  text-align: center;

  padding-bottom: 5%;
  /* background-color: #df9881; */
}
.ant-btn-ghost {
  border: none;
  color: #df9881;
}
.ant-btn-ghost:hover {
  color: #2f2f2f;
}

button {
  background: #d19f17;
  transition: background ease 0.25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 7px;
  margin-top: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover {
  background: #63b6b8;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

div {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}
h3 {
  font-family: "Playfair Display", serif;
  color: #df9881;
  font-size: 20px;
}
/* .blog-body {
  text-align: center;
} */

img {
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  width: 100%;
  padding-top: 0;
}
.card {
  /* box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); */
  padding-bottom: 20px;
  color: #2f2f2f;
  border: none;
  border-bottom: 1px solid #df9881;
}
p.blog-body {
  color: #2f2f2f;
  font-size: 16px;
}
.reg-button {
  border-bottom: 1px solid #df9881;
}
/* filterbox */

/* .site-button-ghost-wrapper {
  background: rgb(190, 200, 200);
} */
